<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand h1" href="#">
    <fa-icon [icon]="faMusic" class="text-info"></fa-icon><span class="ml-1">Noten</span>
  </a>

  <ul class="navbar-nav mr-auto mt-2 mt-lg-0 buttons">
    <button class="btn btn-info" (click)="createPhrase()">
      <li class="nav-item">
        <fa-icon [icon]="faPlus"></fa-icon>
      </li>
    </button>
    <button class="btn btn-info" (click)="openNotebook()">
      <li class="nav-item">
        <fa-icon [icon]="faBook"></fa-icon>
      </li>
    </button>
    <button class="btn btn-info">
      <li class="nav-item">
        <fa-icon [icon]="faTags"></fa-icon>
      </li>
    </button>
  </ul>

  <app-toast aria-live="polite" aria-atomic="true"></app-toast>

  <form class="form-inline my-2 my-lg-0 search">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search"
           (keyup)="search($event.target.value)"
    >
    <button class="btn btn-info" type="submit">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </form>

  <div ngbDropdown class="d-inline-block account">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Account</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
      <a class="dropdown-item" routerLink="/settings"><fa-icon [icon]=faSettings></fa-icon><span class="ml-2">Settings</span></a>
      <button class="dropdown-item" (click)="logout()"><fa-icon [icon]=faLogout></fa-icon><span class="ml-2">Log out</span></button>
    </div>
  </div>
</nav>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-2 list"><phrases [phrases$]="phrases$"></phrases></div>
    <div class="col-md-10 detail"><router-outlet></router-outlet></div>
  </div>
</div>
