.navbar {
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.buttons {
  button {
    margin-left: 10px;
    margin-right: 10px;
  }
}

form.search {
  margin-right: 10px;
  input {
    margin-right: 4px;
  }
}

div.main-content {
  padding: 0;
  div.list {
    padding: 0;
  }
  div.detail {
    padding-left: 0;
  }
  div.edit {
  }
}
