<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <form-group
      name="username"
      labelName="Email address"
      controlName="username"
      type="email"
      [form]=form>
    </form-group>
    <form-group
      name="password"
      type="password"
      [form]=form>
    </form-group>
    <form-group
      name="password-confirm"
      placeHolder="password (confirm)"
      labelName="Password (confirm)"
      controlName="passwordConfirm"
      type="password"
      [form]=form>
    </form-group>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
  </form>
  <div class="login">
    <a routerLink="/login">ログイン</a>
  </div>
</div>
