<div class="container-fluid main-content bg-light">
  <div class="row">
    <div class="col-md-8 paper">
      <div class="wrapper bg-white">
        <div id="warnings"></div>
        <div id="paper0"></div>
        <textarea id="abc" cols="80" rows="15" #abc></textarea>
      </div>
    </div>
    <div class="col-md-4 edit">

      <form [formGroup]="phraseForm" (ngSubmit)="save()">

        <div class="title">
          <form-group name="title" [form]=phraseForm></form-group>
        </div>
        <div class="reference">
          <form-group name="reference" [form]=phraseForm></form-group>
        </div>
        <div class="key">
          <form-group name="key" type="select" [options]=keys [form]=phraseForm></form-group>
        </div>
        <div class="length">
          <form-group name="length" type="select" [options]=lengths [form]=phraseForm></form-group>
        </div>
        <div class="meter">
          <form-group name="meter" type="select" [options]=meters [form]=phraseForm></form-group>
        </div>
        <div class="abc">
          <form-group name="abc" type="textarea" [rows]=10 [form]=phraseForm></form-group>
        </div>
        <div class="notebook" *ngIf="notebooks$ | async">
          <form-group name="notebook" type="select" [options]="notebookNames()" [form]=phraseForm></form-group>
        </div>

        <div class="save">
          <button
            type="submit"
            [disabled]="phraseForm.pristine || phraseForm.invalid"
            class="btn btn-success"
          >Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

