<div class="top-logo odd">
  <img alt="Noten Logo" src="assets\img\logo.png">
  <h2>あなただけの楽譜集を作成できるサービス</h2>
  <div class="login">
    <button class="btn btn-lg btn-primary" (click)="login()">{{loggedIn ? 'ホーム' : 'ログイン'}}</button>
  </div>
</div>

<section class="sections container-fluid">
  <section class="section section-1 even">
    <div class="row">
      <div class="col-md-3 offset-md-3 notes">
        <img alt="notes" src="assets\img\CDEFGAB.png">
      </div>
      <div class="col-md-3">
        <h3>自由度の高い入力方式</h3>
        <p><a href="https://ja.wikipedia.org/wiki/ABC%E8%A8%98%E8%AD%9C%E6%B3%95" target="_blank">ABC記譜法</a>により、自在に楽譜を表現できます。簡単なルールを覚えるだけで驚くほど自由自在に楽譜を作成できます。</p>
      </div>
    </div>
  </section>

  <section class="section section-2 odd">
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <h3>タブやノートブックで簡単管理</h3>
        <p>紙の楽譜をたくさん管理するのは大変。Notenでは楽譜にタグを貼り付けたり、ノートブックの中に楽譜をまとめることで、簡単に整理整頓できます。検索ですぐに必要な楽譜を呼び出すことも。</p>
      </div>
      <div class="col-md-3 offset-md-1">
        <div class="tag-circle">
          <img alt="tag" class="tag" src="assets\img\tag.png">
        </div>
      </div>
    </div>
  </section>

  <section class="section section-3 even">
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <div class="tablet-circle">
          <img alt="tablet" class="tablet" src="assets\img\tablet.png">
        </div>
      </div>
      <div class="col-md-3">
        <h3>タブレットで、スマートフォンで、楽譜をいつでもどこでも持ち歩こう</h3>
        <p>作成した楽譜は様々な端末上で見ることができます。タブレットを譜面台の上に置けば準備完了。あなたの作った楽譜を簡単に呼び出せます。</p>
      </div>
    </div>
  </section>
</section>

<div class="copy-right text-center">
  <p>©{{year}} Noten ALL RIGHTS RESERVED</p>
</div>
