<div class="card" *ngFor="let phrase of phrases$ | async">
  <div class="card-body">
    <h6 class="card-title">
      <a [routerLink]="[phrase.id]">{{phrase.title}}</a>
    </h6>
    <div ngbDropdown class="d-inline-block menu">
      <button class="btn btn-outline-primary" [id]="'dropdownMenuButton-' + phrase.id" ngbDropdownToggle>Menu</button>
      <div ngbDropdownMenu [attr.aria-labelledby]="'dropdownMenuButton-' + phrase.id">
        <button class="dropdown-item" (click)="delete(phrase)"><fa-icon [icon]=faTrash></fa-icon><span class="ml-2">Delete</span></button>
      </div>
    </div>
  </div>
</div>
