<div class="form-group" [formGroup]=form>
  <label htmlFor={{name}}>
    {{labelName}}
  </label>
  <input
    *ngIf=isInputType()
    type={{type}}
    class="form-control"
    id={{name}}
    [placeholder]="placeHolder ? placeHolder : name"
    [formControlName]="controlName ? controlName : name">
  <select
    *ngIf=isSelectType()
    class="form-control"
    [formControlName]="controlName ? controlName : name">
    <ng-container *ngIf="optionValue; else elseBlock">
      <option *ngFor="let option of options" [value]="option[optionValue]" [ngValue]="option[optionValue]">{{option[optionLabel]}}</option>
    </ng-container>
    <ng-template #elseBlock>
      <option *ngFor="let option of options">{{option}}</option>
    </ng-template>
  </select>
  <textarea
    *ngIf=isTextareaType()
    class="form-control"
    [rows]=rows
    [formControlName]="controlName ? controlName : name">
  </textarea>
</div>
